body {
    color: white;
    background: black;
    margin: 0px;
    font-family: 'Chakra Petch', sans-serif;
    margin-bottom: 200px;
}

header {
    border-bottom: solid rgb(42, 122, 228) 2px;
    margin: 20px;
    padding: 20px;
    font-size: 32px;
}

h1 {
    font-size: 40px;

}

p {
    font-size: 20 px;
}


.chamada {
    background: rgb(184, 156, 213);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;

}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria h2{
    color: rgb(42, 122, 228);
}

.categoria-video{
    display: flex;
    overflow-x: auto;
    gap: 10px;

}

.categoria-video img{
    opacity: 0.5;
    height: 200px;
}

.categoria-video img:hover{
  opacity: 1.0;  
  border: 1px solid green;
}